body {
    background-color: #fff;
    color: #212529;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.container_1 {
    height: 100vh;
    width: 100%;
    background-image: url(images/back.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
}

.navigation {
    height: 100px;
    width: 100%;
    background: rgba(0,0,0,0.2);
    background-position: center;
    background-size: cover;
    margin: 0;
}

.navigation ul{
    font-size: 1rem;
    font-weight: 400;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.navigation ul li{
    list-style: none;
    margin-left: 0px;
    margin-right: 20px;
    display: inline-block;
    line-height: 80px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 6px 8px;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
 }

 .navigation ul li a.active,
 .navigation ul li a:hover {
    background-color: #6f42c1;
    border-radius: 2px;
}

.container_1 .container_2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    height: 1px;
}

.container_2 h1{
    color: #fd7e14;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
    margin-top: 10px;
    height: 50px;
}

.container_2 h2{
    color: white;
    font-size: 60px;
    font-weight: bold;
    width: 850px;
    text-align: center;
    height: 0px;
}

.container_2 .button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #6f42c1;
    background-color: #20c997;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #20c997
}

.container_2 .button:hover{
    background-color: #20c9f7
}
