.navigation {
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.2);
    background-position: center;
    background-size: cover;
    margin: 0;
}

.navigation ul{
    font-size: 1rem;
    font-weight: 400;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation ul li{
    list-style: none;
    margin-left: 0px;
    margin-right: 20px;
    display: inline-block;
    line-height: 80px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 6px 8px;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
 }

.navigation ul li a.active,
.navigation ul li a:hover {
    background-color: #6f42c1;
    border-radius: 2px;
}

body {
	height: 100vh;
    width: 100%;
    background-image: url(images/back2.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-position: center;
    background-size: cover;
    margin: 0;
}
.form-area {
	padding-top: 3%;
    opacity: 0.9;
}

.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: blueviolet;
	padding: 210px 98px;
}
.left h2 {
	color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #fff;
}
.right {
	padding: 80px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #6f42c1;
    background-color: #20c997;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #20c997
}
.right button:hover{
    background-color: #20c9f7
}

